#toolbar {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#toolbar button, #toolbar input {
    cursor: pointer;
}
